[Unit]
Description=Autostart VirtualBox VM instance fdss
After=network.target vboxdrv.service

[Service]
Type=simple
User=rflemen
ExecStart=/usr/bin/vboxheadless -s fdss
ExecStop=/usr/bin/VBoxManage controlvm fdss acpipowerbutton
Restart=always

[Install]
WantedBy=multi-user.target
