[Unit]
Description=Uptime-Kuma - A free and open source uptime monitoring solution
Documentation=https://github.com/louislam/uptime-kuma
After=network.target

[Service]
Type=simple
User=rflemen
WorkingDirectory=/home/rflemen/uptime-kuma
ExecStart=/home/rflemen/.nvm/versions/node/v18.15.0/bin/node server/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
